<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update customer</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/customers/{id}(id=${customer.getId()})}" th:object="${customer}">
    <label name="firstname">first name: </label>
    <input type="text" th:field="*{firstName}" id="firstname"/>
    <div style="color:red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">firstname Error</div>
    <br>
    <label name="lastname">last name: </label>
    <input type="text" th:field="*{lastName}" id="lastname"/>
    <div style="color:red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">lastName Error</div>
    <br>
    <label name="email">email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">email Error</div>
    <br>
    <label name="address">address: </label>
    <input type="text" th:field="*{address}" id="address"/>
    <div style="color:red" th:if="${#fields.hasErrors('address')}" th:errors="*{address}">address Error</div>
    <br>
    <input type="submit" value="Update"/>
</form>

</body>
</html>